.toDoDiv {
  display: flex;
}

.toDoListsDiv {
  border: 1px solid black;
  width: 350px;
  height: 525px;
  overflow: scroll;
  background: grey;
}

.toDoListConsoleDiv {
  width: 1050px;
  height: 665 px;
  border: 1px solid black;
}

input[type="checkbox"] {
  zoom: 2.2;
  margin-bottom: 8px;
}
.listDiv {
  background: black;
  color: white;
  border: 1px solid white;
  padding-left: 5px;
  padding-right: 5px;
}
.toDoListNav {
  color: white;
  border: 2px solid black;
  font-size: 20px;
}

.selectedToDoDiv {
  background: grey;
}

.toDoListHeader {
  background: grey;
  font-size: 20px;
  display: table;
}
.newListElement {
  vertical-align: middle;
  display: table-cell;
}

.toDoListDesc {
  font-weight: bold;
  font-size: 20px;
}

.iconButton {
  height: 32px;
  width: 32px;
  font-size: 20px;
  border: 2px solid silver;
  border-radius: 20%;
  float: right;
  margin-right: 10px;
  margin-top: 8px;
}

.itemsDiv {
  overflow: scroll;
  height: 540px;
}

.itemDiv {
  background: grey;
  border: 0.5px solid white;
  height: 50px;
}
